{
    BasedOnStyle: Google,
    AccessModifierOffset: -4,
    AlignEscapedNewlines: true,
    AllowShortBlocksOnASingleLine: false,
    AlignTrailingComments: true,
    AllowShortIfStatementsOnASingleLine: false,
    AllowShortFunctionsOnASingleLine: false,
    AllowShortLoopsOnASingleLine: false,
    BreakBeforeBraces: Allman,
    ColumnLimit: 80,
    ConstructorInitializerAllOnOneLineOrOnePerLine: false,
    IndentCaseLabels: true,
    IndentWidth: 4,
    KeepEmptyLinesAtTheStartOfBlocks: true,
    SpaceBeforeParens: Never,
}
